@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-link {
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .hover-link:hover {
    border-bottom: 4px solid #ff2625;
    border-radius: 4px;
  }

  .hover-link {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
    
  }
  
  .hover-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ff2625;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-link:hover {
    color: #ff2625;
  }
  
  .hover-link:hover::after {
    transform: scaleX(1);
  }
  